In [2]:
import ipywidgets as widgets
#https://towardsdatascience.com/bring-your-jupyter-notebook-to-life-with-interactive-widgets-bc12e03f0916
from IPython.display import display

In [3]:
slider = widgets.IntSlider(
    min=0,
    max=10,
    step=1,
    description='Slider:',
    value=3
)

display(slider)

IntSlider(value=3, description='Slider:', max=10)

In [4]:
slider = widgets.IntSlider()
text = widgets.IntText()
display(slider, text)
widgets.jslink((slider, 'value'), (text, 'value'))

IntSlider(value=0)

IntText(value=0)

Link(source=(IntSlider(value=0), 'value'), target=(IntText(value=0), 'value'))

In [5]:
btn = widgets.Button(description='Medium')
display(btn)
def btn_eventhandler(obj):
    print('Hello from the {} button!'.format(obj.description))
btn.on_click(btn_eventhandler)

Button(description='Medium', style=ButtonStyle())

Hello from the Medium button!
Hello from the Medium button!

In [6]:
import pandas as pd
import numpy as np
url = "https://data.london.gov.uk/download/number-international-visitors-london/b1e0f953-4c8a-4b45-95f5-e0d143d5641e/international-visitors-london-raw.csv"
df_london = pd.read_csv(url, encoding = 'iso-8859–1')

In [8]:
ALL = 'ALL'
def unique_sorted_values_plus_ALL(array):
    unique = array.unique().tolist()
    unique.sort()
    unique.insert(0, ALL)
    return unique

dropdown_year = widgets.Dropdown(options =    unique_sorted_values_plus_ALL(df_london.year))

def dropdown_year_eventhandler(change):
    if (change.new == ALL):
        display(df_london)
    else:
        display(df_london[df_london.year == change.new])
        
dropdown_year.observe(dropdown_year_eventhandler, names='value')

display(dropdown_year)

Dropdown(options=('ALL', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012…

,year,quarter,market,dur_stay,mode,purpose,area,Visits (000s),Spend (£m),Nights (000s),sample
44732,2015,January-March,Belgium,1-3 nights,Air,Holiday,LONDON,3.006569,0.880979,8.453606,2
44733,2015,January-March,Belgium,1-3 nights,Air,Business,LONDON,7.099867,2.382731,8.340280,6
44734,2015,January-March,Belgium,1-3 nights,Air,VFR,LONDON,1.127442,0.129656,3.382327,1
44735,2015,January-March,Belgium,1-3 nights,Air,Miscellaneous,LONDON,0.488333,0.072273,0.488333,1
44736,2015,January-March,Belgium,1-3 nights,Sea,Business,LONDON,2.371568,1.465629,3.557353,2
...,...,...,...,...,...,...,...,...,...,...,...
48197,2015,October-December,Other Africa,8-14 nights,Air,VFR,LONDON,2.052881,3.069522,18.402871,3
48198,2015,October-December,Other Africa,8-14 nights,Air,Miscellaneous,LONDON,0.386793,0.107040,0.773587,1
48199,2015,October-December,Other Africa,15+ nights,Air,VFR,LONDON,2.486143,1.113062,94.725133,6
48200,2015,October-December,Other Africa,15+ nights,Air,Miscellaneous,LONDON,2.021492,1.973719,34.264169,3
48201,2015,October-December,Other Africa,15+ nights,Tunnel,Holiday,LONDON,1.363222,0.954256,23.174782,1